{% extends 'CommonHTML/base.html' %}
{% load static %}
{% block RoomGUI %}
<div class="wrapper">
    <div class="filter-buttons">
        <a href="#" id="single" class="a-button" onclick="single()">Single</a>
        <a href="#" id="double" class="a-button" onclick="double()">Double</a>
        <a href="#" id="triple" class="a-button" onclick="triple()">Triple</a>
        <a href="#" id="ac" class="a-button" onclick="ac()">AC</a>
        <a href="#" id="nac" class="a-button" onclick="nac()">Non-AC</a>
    </div>
    <div class="floors">
        <div class="floor">
            <div class="floor-name a-button">
                <p>1st</p>
            </div>
            <div id = "1" class="floor-rooms">
                {% for r in rooms1 %}
                    <div class="room {{ r.color }}">
                        <a href="#" class="a-room"> {{ r.room_no }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="floor">
            <div class="floor-name a-button">
                <p>2nd</p>
            </div>
            <div id = "2" class="floor-rooms">
                {% for r in rooms2 %}
                    <div class="room {{ r.color }}">
                        <a href="#" class="a-room"> {{ r.room_no }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="floor">
            <div class="floor-name a-button">
                <p>3rd</p>
            </div>
            <div id = "3" class="floor-rooms">
                {% for r in rooms3 %}
                    <div class="room {{ r.color }}">
                        <a href="#" class="a-room"> {{ r.room_no }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="floor">
            <div class="floor-name a-button">
                <p>4th</p>
            </div>
            <div id = "4" class="floor-rooms">
                {% for r in rooms4 %}
                    <div class="room {{ r.color }}">
                        <a href="#" class="a-room"> {{ r.room_no }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="floor">
            <div class="floor-name a-button">
                <p>5th</p>
            </div>
            <div id = "5" class="floor-rooms">
                {% for r in rooms5 %}
                    <div class="room {{ r.color }}">
                        <a href="#" class="a-room"> {{ r.room_no }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block homepagescript %}
{% load static %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'js\room.js' %}"> </script>
{% endblock %}
